/* Global */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 26, 26);
    color: rgb(205, 225, 229);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(222, 188, 87);
}

a:hover {
    color: rgb(205, 225, 229);
    transition: .1s;
}

p,
li {
    line-height: 1.6rem;
}

.header {
    text-align: center;
}

.main {
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    text-align: center;
}

.footer p {
    color: rgb(131, 131, 131);
}

/* Index */
.recipes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(205, 225, 229);
    border-radius: 5px;
    background-color: rgb(33, 32, 32);
}

.item:hover {
    filter: brightness(80%);
    transition: .2s;
}

.item-img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px 5px 0px;
}

.item-title {
    padding: 20px 0px;
    font-weight: bold;
}

/* Recipes */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 3px solid rgb(33, 32, 32);
}

.nav-left {
    margin-left: 10px;
}

.nav-right {
    margin-right: 10px;
}

.header-link {
    font-weight: bold;
}

.nav-list {
    margin: 0;
    display: flex;
}

.navbar li {
    list-style: none;
    padding-left: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 32, 32);
}

.col {
    padding: 20px;
    flex: 1;
}

.description {
    flex: 2;
}

.instructions {
    flex: 1;
}

h2 {
    margin: 0;
}

.recipe-img {
    width: 100%;
    max-width: 400px;
}

.mt {
    margin-top: 50px;
}