/* Global */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 26, 26);
    color: rgb(205, 225, 229);
    margin: 0;
    padding: 0;
}

h1,
h2,
p,
a,
ul,
ol,
li {
    margin: 0;
}

h1 {
    padding: 25px 0;
}

h2 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(222, 188, 87);
}

a:hover {
    color: rgb(205, 225, 229);
    transition: .1s;
}

p,
li {
    line-height: 1.6rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    text-align: center;
    color: rgb(131, 131, 131);
    padding: 25px 0;
}

/* Index */
.title {
    text-align: center;
}

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    text-align: center;
    border: 1px solid rgb(205, 225, 229);
    border-radius: 5px;
    background-color: rgb(33, 32, 32);
}

.item:hover {
    filter: brightness(80%);
    transition: .2s;
}

.item-img {
    width: 300px;
    max-width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.item-title {
    padding: 25px 0px;
    font-weight: bold;
}

/* Recipes */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 3px solid rgb(33, 32, 32);
}

.nav-left {
    margin-left: 15px;
}

.nav-right {
    margin-right: 15px;
}

.header-link {
    font-weight: bold;
}

.nav-list {
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 32, 32);
}

.col {
    padding: 20px;
    flex: 1;
}

.description {
    flex: 2;
}

.instructions {
    flex: 1;
}

.recipe-img {
    max-width: 100%;
}

.mt {
    margin-top: 25px;
}